// Navigation Styles here
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    border-bottom: 2px dashed grey;
    padding: 2rem 0rem;
    
    
    .nav-bar{
        display: flex;
        justify-content: space-between;
        width: 40%;

        a{
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
        }
    }

    .nav-heading{
        width: 55%;
    }

}
